
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f3f6;
}
html {
  margin: unset !important;
  font-size: 10px;
}

input#s {
  background: white;
  padding: 10px 6px;
}
input#s {
  background: white;
  padding: 10px 6px;
  border-radius: 8px;
  color: #748a98;
  height: 52px;
}
.container {
  max-width: 1240px !important;
  margin: auto !important;
  padding: 0px 1rem !important;
}
img.aligncenter.wp-image-586 {
  margin: auto;
}
input#s {
  background: white;
  padding: 10px 6px;
  border-radius: 8px;
  color: #748a98;
  width: 100%;
  height: 52px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 15px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  background: #00000082;
  padding: 11px 15px;
  color: white;
  border-radius: 2px !important;
}
.searchform {
  width: 100%;
  max-width: 418px;
}
input#s::placeholder {
  content: "fdsfdsf";
}
form#searchform div {
  display: flex;
}
input#searchsubmit {
  color: white;
  margin-left: 12px;
}

.cat_slider .swiper-slide:hover {
  background: rgba(215, 217, 219, 0.3);
  border-bottom: 3px solid #48afff;
}
.cat_slider .swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
  display: none !important;
}
.seasongrid .swiper-slide:nth-child(odd) {
  grid-row: 1;
}
.seasongrid .swiper-slide:nth-child(even) {
  grid-row: 2;
}
.wirlessairbuds {
  background: url(https://static.priceoye.pk/images/categories/section-earbuds-bg-md.png)
    left top / cover no-repeat;
}
.smartwatches {
  background: url(https://static.priceoye.pk/images/categories/section-smart-watches-bg-md.png)
    left top / cover no-repeat;
}
.speaker{
  background: url(https://static.priceoye.pk/images/categories/section-smart-watches-bg-md.png)
    left top / cover no-repeat;
}
.Tablets{
  background: url(https://static.priceoye.pk/images/categories/section-tablet-bg-md.png)
    left top / cover no-repeat;
}

.Laptops{
  background: url(https://static.priceoye.pk/images/categories/section-laptop-bg-md.png)
  left top / cover no-repeat;
  padding-bottom: 60px;
}
.power-banks{
  background: url(https://static.priceoye.pk/images/categories/section-power-banks-bg-md.png)
  left top / cover no-repeat;
}
.bestsellerinner {
  display: grid;
  grid-template-columns: 41% 28% 28%;
  gap: 15px;
}

.griditemsbest {
  display: block;
}
.griditemsbest:first-child .nameandimage.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.griditemsbest:first-child {
  grid-row: span 2;
}
.griditemsbest:first-child .home-badges {
  right: 82px;
  top: 44px;
}
.griditemsbest:first-child p.font-\[600\].text-\[13px\] {
  margin-bottom: 30px;
}
.griditemsbest:first-child .best_price.w-full {
  margin-top: 30px;
}
.griditemsbest:first-child img.m-\[auto\] {
  width: 342px !important;
  height: 357px !important;
}

.item-inner {
  background: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 900px) {
  .bestsellerinner {
    display: grid;
    grid-template-columns: 54% 46%;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .searchform {
    width: 100%;
    max-width: 216px !important;
  }
  input#s {
    background: white;
    padding: 10px 6px;
    border-radius: 8px;
    color: #748a98;
    width: 100%;
    height: 36px !important;
  }
  input#searchsubmit {
    color: white;
    margin-left: 12px;
    display: none;
  }
}

.themebgsh {
  background-color: var(--theme-bg-color);
}
.swiper-pagination.gallerypagination.swiper-pagination-fraction.swiper-pagination-horizontal {
  width: fit-content;
  left: 85%;
  background: #909090;
  padding: 3px 10px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
}
.reason_info{
  background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
}
.reason_group{
  display: grid
  ;
      grid-template-columns: 48% 48%;
      gap: 13px;
}
.btn-checkout{
  transition: all .3s ease-in-out;
}

.btn-checkout:hover{
  background-color: #48AFFF;
  color: white;
}
.remove_cart_item{
  transition: all .3s ease-in-out;
}
.remove_cart_item:hover{
  background-color: transparent;
  color: red;
}
.searchpage li{
  list-style: none;
}
.searchpage span.onsale{
  display: none;
}
.shopproducts{
  flex: 0 0 calc(24.96% - 8px);
}
.filters {
  flex: 1 0 25%;
}
.filteroption label, input {
    font-size: 14px;
    color: #606060;
    margin-bottom: 5px;
}
.downoption .shop_dropdown {
    transform: scale(-1);

}
.price-bar:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 12px;
    transform-origin: 0 bottom 0;
    transform: scaleY(0);
    transition: .4s ease-out;
}
.price-bar:hover {
    color: #f90390;
    transition: .4s ease-in;
}
.price-bar:hover:before {
    transform: scaleY(1);
}
.container.flex.items-center.branddiv{
    padding: 10px 0px !important;
}
.hoverbrand img{
      filter: grayscale(100%);
      cursor: pointer;
}

.hoverbrand img:hover{

filter: none;

}

.cat_headerbrand:hover{
  background: rgba(116,138,152,.08);
  transition: all 0.3s ease;
}
.trackorder:hover{
color: #fff;
    transform: translate(calc(30px / 3), 0px);
  
}
.trackorder{
    transition: .5s cubic-bezier(0.39, 0.58, 0.57, 1);
}

/* review css */
h2.woocommerce-Reviews-title {
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: 600;
}
.review  p.meta {
    font-size: 13px !important;
}
.review  .description p {
    font-size: 16px !important;
}
span#reply-title {
    font-size: 18px;
    margin-bottom: 6px !important;
}
.comment-form-rating {
    font-size: 19px;
    margin-top: 17px;
}
form#commentform label {
    font-size: 19px;
}
textarea#comment {
    border: 2px solid;
    padding: 9px;
    font-size: 16px;
}
input#submit {
    padding: 13px 32px !important;
    font-size: 17px !important;
    background: #48AFFF !important;
    color: white !important;
}

.user-rating-content {
    position: absolute;
    bottom: 53%;
    left: 4%;
    background-color: #fbf7eb;
    color: #000;
    padding: 3px 8px;
    border-radius: 8px;
    display: flex
;
    gap: 4px;
    align-items: center;
}
img.avatar.avatar-30.photo {
    border-radius: 28px !important;
}
.user-avatar:hover .logout {
    display: block;
    position: absolute;
    bottom: -21px;
}
.logout{
  display: none;
      transition: all 0.3s ease-in;
}
.Featuretable tbody tr:not(:last-child) {
  border-bottom: 1px solid #0000001f;
}
.features .containerr{
  display: block;
        column-count: 2;
        flex: 0 0 80%;
        max-width: 80%;
}
.features .containerr table{
  break-inside: avoid;
  
}
.Feature{
      margin-bottom: calc(30px / 2);
}
a.prev.page-numbers {
    font-size: 15px;
    margin-right: 13px;
}
a.next.page-numbers{
  font-size: 15px;
    margin-left: 13px;
}
a.page-numbers,span.page-numbers.current {
    font-size: 15px;
        margin-right: 3px;

}
span.page-numbers.dots {
    font-size: 15px;
    margin: 0px 5px;
}
span.page-numbers.current {
    background: #48AFFF;
    padding: 6px 13px;
    border-radius: 27px;
    margin: 0px 11px;
}
.search h2.woocommerce-loop-product__title {
    font-size: 13px;
    margin: 17px 0px 7px 0;
    font-weight: 600;
    height: 47px;
}
.search a.button.product_type_variable.add_to_cart_button {
    display: block;
    font-size: 14px;
    margin: 10px 0px;
}
.search .star-rating span {
    font-size: 13px;
}
.searchpage img {
    width: 120px;
    margin: auto;
}
.searchpage li {
    padding: 10px;
    background: white;
    border-radius: 4px;
    position: relative;
}
.search h2.woocommerce-loop-product__title {
    font-size: 13px;
    margin: 10px 0px;
    font-weight: 600;
    height: 47px;
}
.search .star-rating span {
    font-size: 13px;
    padding: 3px 8px;
    background: #fbf7eb;
    border-radius: 3px;
}
.star-rating {
    position: absolute;
    top: 42%;
    left: 7px;
}
.search_page span.price {
    display: flex
;
    flex-direction: column;
    margin-bottom: 9px;
}

.search_page h1.text-\[16px\].font-semibold.mb-6 {
    padding: 20px;
    background: white;
    border-radius: 3px;
}
.search_page a.button.product_type_variable.add_to_cart_button {
    display: none !important;
}